.modal-title {
  @extend .title;
  display: block;

  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.15;
  }
}

.form {
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

.form-label {
  /*width: 100%;
  min-height: 58px;*/
  position: relative;
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form-label_title {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.01em;

  color: $secondary-color;
}

.form-input {
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-input_icon {
  position: absolute;
  top: 70%;
  left: 12px;

  transform: translateY(-70%);
}
.form-input:focus-within {
  border: 1px solid $accent-color;
}
.form-label:focus-within > .form-input_icon {
  fill: $accent-color;
}
.comment {
  padding: 12px 16px;
  resize: none;
  outline: none;
  width: 100%;

  @media screen and (min-width: 1200px) {
    height: 120px;
  }
  height: 70px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus-within {
    border: 1px solid $accent-color;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    margin: 12px 16px;

    color: rgba(117, 117, 117, 0.5);
  }
}
.checkbox-label {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox_icon {
  width: 16px;
  height: 15px;
  border: 0.2px solid black;
  display: inline-block;
}

.checkbox:checked + .checkbox_icon {
  background-color: $accent-color;
  background-size: contain;
  background-origin: border-box;
  background-image: url('../image/Vector\ \(3\).svg');

  border-color: $accent-color;
}
.checkbox_text {
  font-size: 10px;
  line-height: 1.16;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
  color: $secondary-color;
}
.checkbox_licence-link {
  display: inline;
  text-decoration: underline;

  color: $accent-color;
}

.modal-button {
  @extend .button;
  width: 200px;
  height: 50px;
  padding: 10px 56px 10px 55px;
  margin: 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: flex;
  align-items: center;
  text-align: center;

  &:hover,
  &:focus {
    @extend .button;
  }
}
