.benefits_item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits_item {
    width: 270px;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
.benefits_icon {
  width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .benefits_icon {
    width: 270px;
  }
}
.benefits_title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .benefits_title {
    text-align: start;
  }
}
.benefits_text {
  color: $secondary-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
