.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 50px;

  &_item:not(:first-child) {
    margin-left: 8px;
  }
  &_item {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    justify-content: center;
  }
  &_item {
    margin-bottom: 0;
  }
}
.button-list_button {
  padding: 6px 22px;
  color: $primary-text-color;
  background: $bg-group;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }

  &:active,
  &:visited {
    color: $accent-color;
  }
}
.button-list_current-button {
  color: $white-color;
  background-color: $accent-color;
}

.card-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}
.card-list:hover .overlay {
  transform: translateY(0);
}
.thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $white-color;
  margin: 63px 24px;
  padding: 0;
  border: none;
}
.card {
  padding: 20px 24px;
  border-left: 1px solid#EEEEEE;
  border-bottom: 1px solid#EEEEEE;
  border-right: 1px solid#EEEEEE;
}
.card_title {
  margin-bottom: 4px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0, 06em;
}
.card_text {
  color: $secondary-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
}
