.join-block {
  color: $white-color;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join-block {
    position: absolute;
    top: 12px;
    left: 300px;
    padding: 0;
    display: inline-block;
    text-align: start;
  }
}
