.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.footer-logo {
  width: 145px;
  height: 31px;
  color: $white-color;
  display: inline-block;

  @media screen and (max-width: 1199px) {
    margin: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
  }
}
.address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    line-height: 1.71;
  }
}
.address_map {
  color: $white-color;
}
.address_contact {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
  font-weight: 400;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
