.column {
  margin: 0;
}
.footer-logo {
  width: 145px;
  height: 31px;
  color: $white-color;
  margin-right: auto;
  margin-left: auto;
}

.address {
  width: 231px;
  height: 81px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: $white-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address_contact {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
