footer {
  background-color: $bg-footer;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    align-items: baseline;
  }
}
.footer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  align-items: center;
  color: $white-color;
  text-transform: uppercase;
  margin-bottom: 20px;
}
