h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}
ul {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  display: block;
}

button {
  font-family: inherit;
}

.visibility-title {
  visibility: hidden;
}
