$primary-text-color: #212121;
$accent-color: #2196f3;
$secondary-color: #757575;
$white-color: #ffffff;
$bg-group: #f5f4fa;
$bg-footer: #2f303a;
$bg-hero: #c4c4c4;
$accent-color-secondary: #188ce8;
$primary-fontfamily: Roboto, sans-serif;
$secondary-fontfamily: Raleway, sans-serif;
